blinker            
charset-normalizer 
click              
colorama           
contourpy          
cycler             
dnspython          
email_validator    
Flask              
Flask-Login        
Flask-SQLAlchemy   
Flask-WTF          
fonttools          
greenlet           
idna               
itsdangerous       
Jinja2             
kiwisolver         
MarkupSafe         
matplotlib         
numpy              
packaging          
pandas             
pillow             
pip                
psycopg2-binary    
pyparsing          
python-dateutil   
pytz               
reportlab          
six                
SQLAlchemy         
typing_extensions  
tzdata             
Werkzeug           
WTForms            
xlsxwriter 